<div class="page-header mb-3 mt-3">
  <h1 class="bd-title d-inline-block"><%= t('searches.index.title') %></h1>
  <a href="<%= new_search_url %>" class="btn btn-primary float-right d-inline-block"><%= t('searches.index.new') %></a>
</div>

<% if flash[:notice] %>
  <%= render 'shared/alert', alert_class: 'success', alert_message: flash[:notice] %>
<% end %>

<% if @searches.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th><%= t('search.date') %></th>
        <th><%= t('search.phrases_count') %></th>
        <th><%= t('search.phrases_size') %></th>
        <th><%= t('search.links_count') %></th>
        <th><%= t('search.text_percentage') %></th>
        <th><%= t('search.file') %></th>
      </tr>
    </thead>
    <tbody>
      <% @searches.each do |search| %>
        <tr>
          <td><a href="<%= search_url(search) %>"><%= search.created_at.strftime("%d/%m/%y às %H:%M")%></a></td>
          <td><%= "#{search.phrases_count} frases" %></td>
          <td><%= "#{search.phrases_size} palavras" %></td>
          <td><%= search.links_count %></td>
          <td><%= "#{search.text_percentage}%" %></td>
          <td><%= search.file.blob.filename %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @searches %>
<% else %>
  <%= render 'shared/alert', alert_class: 'secondary', alert_message: t('searches.index.empty') %>
<% end %>
