<div class="page-header mb-3 mt-3">
  <h1 class="bd-title d-inline-block"><%= t('searches.new.title') %></h1>
</div>
<div class="lds-ring hidden"><div></div><div></div><div></div><div></div></div>
<div class="page-content">
  <%= form_for(@search, multipart: true, remote: true) do |form| %>
    <div class="form-group">
      <label for="search_file"><%= t('search.file') %></label>
      <%= form.file_field :file, class: "form-control-file" %>
    </div>
    <div class="form-group">
      <label for="search_phrases_size"><%= t('search.phrases_count') %></label>
      <%= form.text_field :phrases_count, class: 'form-control', placeholder: 'Digite o número de frases que serão selecionadas' %>
    </div>
    <div class="form-group">
      <label for="search_phrases_size"><%= t('search.phrases_size') %></label>
      <%= form.text_field :phrases_size, class: 'form-control', placeholder: 'Digite o número de palavras das frases que serão selecionadas' %>
    </div>
    <div class="form-group">
      <label for="search_text_percentage"><%= t('search.text_percentage') %></label>
      <%= form.select :text_percentage, text_percentage_options_collection, {}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="search_text_area"><%= t('search.text_area.title') %></label>
      <%= form.select :text_area, text_area_options_collection, {}, class: 'form-control' %>
    </div>

    <a href="<%= searches_url %>" class="btn btn-secondary"><%= t('searches.new.cancel') %></a>
    <%= form.submit t('searches.new.submit_button'), class: "btn btn-primary" %>
  <% end %>
</div>
