<div class="page-header mb-3 mt-3">
  <h1 class="bd-title d-inline-block"><%= t('searches.show.title') %></h1>
  <a href="<%= searches_url %>" class="btn btn-primary float-right d-inline-block"><%= t('back') %></a>
</div>
<div class="row mb-3 col-12">
  <strong><%= t('search.date') %>:</strong>&nbsp;<%= @search.created_at.strftime("%d/%m/%y às %H:%M") %>
</div>
<div class="row">
  <div id="accordion" class="col-12">
    <% @search.search_results.each do |search_result| %>
      <div class="card">
        <div class="card-header" id="heading-<%= search_result.id %>">
          <h5 class="mb-0">
            <button class="btn btn-link is-phrase" data-toggle="collapse" data-target="#collapse-<%= search_result.id %>" aria-expanded="true" aria-controls="collapse-<%= search_result.id %>">
              "<%= search_result.phrase %>"<%= links_count_label(search_result.links.count) %>
            </button>
            <button title="Copiar" type="button" name="button" class="btn btn-light btn-sm copy-phrase float-right">
              <%= image_tag('clipboard-regular.svg', width: 16, height: 16, class: 'icon') %>
            </button>
          </h5>
        </div>

        <div id="collapse-<%= search_result.id %>" class="collapse" aria-labelledby="heading-<%= search_result.id %>" data-parent="#accordion">
          <div class="card-body">
            <% if search_result.links.count > 0 %>
                <ul>
                  <% search_result.links.each do |link| %>
                    <li class="mt-1">
                      <a href="<%= link %>" target="_blank"><%= link %></a>
                      <button title="Copiar" type="button" name="button" class="btn btn-light btn-sm copy-link">
                        <%= image_tag('clipboard-regular.svg', width: 16, height: 16, class: 'icon') %>
                      </button>
                    </li>
                  <% end %>
                </ul>
            <% else %>
              <%= t('searches.show.empty_links') %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
